body {
  display: grid;
  grid-template: 1.5fr 4fr / minmax(120px, 1fr) minmax(350px, 4fr);
  max-height: 100vh;
}

#header {
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: max(1.5vw, 8.5px) max(3vw, 18px) 0 max(3vw, 18px);
  background: grey;
}

.sb-cont {
  display: flex;
  gap: clamp(0.3rem, 0.8vw, 0.8rem);
  max-width: 95%;
}


.sb-cont > input {
  flex: 1;
  border: none;
  background: whitesmoke;
  border-radius: 100rem;
  height: clamp(0.9rem, 2vw, 4rem);
}

.side-cont {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  justify-content: right;
  margin-right: max(0.3rem, 2vw);
}

.side-cont > .profile-img {
  width: clamp(20px, 3.5vw, 5.5rem);
  height: clamp(20px, 3.5vw, 5.5rem);
  border-radius: 50%;
  background: black;
  position: relative;
  bottom: max(1.6px, 0.6vw);
}

.side-cont > .display-name {
  font-size: clamp(0.8rem, 1.6vw, 2.8rem);
  font-weight: 800;
  height: min-content;
}


.sb-cont > button, .side-cont > button {
  all: unset;
  cursor: pointer;
  height: min-content;
  font-size: clamp(0.8rem, 1.9vw, 3.8rem);
}

.mdi-magnify, .mdi-bell-ring-outline{
  position: relative;
  bottom: max(1.5px, 0.4vw);
}

.mdi-theme-light-dark {
  position: relative;
  font-size: clamp(0.9rem, 2.1vw, 3.9rem);
  bottom: max(1.6px, 0.5vw);
}

.user-info-cont {
  display: flex;
  gap: min(3vw, 1.5rem);
}

.user-info-cont > .profile-img {
  width: clamp(35px, 4.5vw, 6.5rem);
  height: clamp(35px, 4.5vw, 6.5rem);
  border-radius: 50%;
  background: black;
}

.user-id {
  height: min-content;
  align-self: center;
  font-size: clamp(0.6rem, 1.6vw, 2.6rem);
  margin-top: -0.2vw;
  font-weight: 800;
  position: relative;
}

.user-id::before {
  content: "Greetings,";
  font-size: clamp(6px, 0.95vw, 1rem);
  position: absolute;
  bottom: clamp(16px, 2.3vw, 3rem);
  left: -5px;
}

.btn-cont {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 3.5rem);
  justify-content: right;
}

.btn-cont button {
  all: unset;
  background-color: lightblue;
  width: clamp(3rem, 6vw, 5.6rem);
  font-size: min(1.2vw, 2rem);
  text-align: center;
  border-radius: 100rem;
  padding: 0.42rem 0.4rem 0.4rem 0.4rem;
  cursor: pointer;
}

#sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  gap: min(5vw, 3rem);
  padding-top: max(1.2vw, 8.2px);
  background: cyan;
}

.branding, .navigation, .general {
  display: grid;
  grid-template-columns: minmax(40px, 1.5fr) 4fr;
  margin-left: max(0.8vw, 4.2px);
  font-size: clamp(0.7rem, 1.4vw, 2.5rem);
}

.title {
  font-size: clamp(0.9rem, 2vw, 4rem);
  font-weight: 800;
}

#main {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 1.5rem;
  padding: 0 2rem 5rem 1.3rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.cards-cont {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.3rem;
}

.cards-cont > .sect-title {
  grid-column: 1 / -1;
  margin-top: 1.5rem;
  padding-left: 0.8rem;
  font-weight: 800;
}

.card {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  padding: 1.9rem 1.6rem;
  border-radius: 0.4rem;
  border-left: 6px solid #f4b400;
}

.card-content > h3 {
  font-weight: 800;
  line-height: 2;
}

.card-content > p { line-height: 1.3; }

.card-icons {
  margin: 1.4rem 0.3rem 0 0;
  display: flex;
  gap: 1.2rem;
  justify-content: end;
}

.card-icons > * {
  font-size: 1.8rem;
  cursor: pointer;
}

.info-cont {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.info-cont h3:first-of-type {
  margin: 1.5rem 0 0 0.4rem;
  font-weight: 800;
}

.info-cont h3:last-of-type {
  margin: 2rem 0 0 0.4rem;
  font-weight: 800;
}

.ancmnt-cont, .trndng-cont {
  background: whitesmoke;
  border-radius: 0.4rem;
  padding: 1.3rem 2rem;
}

.announcement, .trending { padding: 0.9rem 0; }

.announcement h4 { font-weight: 800; }

.announcement p { line-height: 1.28; }

.trending {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trending .t-item-cover {
  width: clamp(20px, 3.5vw, 5.5rem);
  height: clamp(20px, 3.5vw, 5.5rem);
  border-radius: 50%;
  background: black;
}

.trending h5 {
  font-weight: 800;
}

